<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioSwitcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AudioSwitcher.Settings>
            <setting name="ShowDisabledDevices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUnpluggedDevices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRecordingDevices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPlaybackDevices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotPresentDevices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSwitchToPluggedInDevice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceBlacklist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NVIDIA RTX Voice</string>
                        <string>KG241Q P</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AudioSwitcher.Settings>
    </userSettings>
</configuration>